.Main-title {
    text-align: center;
    width: 100%;
    height: 100px;
  }
  
  .buttonStyle {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    background: #ffc7c7;
    border-radius: 50px;
  }
  
  .Main-container {
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    justify-content: space-evenly;
    height: auto;
    height: 100%;
  }
  
  .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .image {
    width: 132px;
    height: 184px;
  }
  
  .designImageLeft {
    position: absolute;
    left: 0;
    top: 26px;
    width: 250px;
    height: 300px;
  }
  .designImageRight {
    position: absolute;
    right: 0;
    top: 94px;
    width: 266px;
    height: 315px;
  }
  