.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  background-color: white;
}

.topnav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.login-button {
  width: 148px;
  height: 42px;
  background: white;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

.signup-button {
  width: 148px;
  height: 42px;
  background: #720201;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: thick;
  border-color: black;
  color: white;
  cursor: pointer;
}
